In [1]:
"""
Thing to do 16.1-16.8
Database-related tasks, including CSV file handling, 
database creation, data insertion, and data retrieval using both 
the sqlite3 module and SQLAlchemy.

Rashmi Baral

"""
# Created a CSV file named "books.csv" and saved the provided text lines to it. 
# Content to save to books.csv
content = """author,book
J R R Tolkien,The Hobbit
Lynne Truss,"Eats, Shoots & Leaves"
"""

# Write the content to a file named books.csv
with open('books.csv', 'w') as file:
    file.write(content)

print("books.csv created successfully.")

books.csv created successfully.

In [2]:
import csv

# Read the data from books.csv using DictReader
books = []
with open('books.csv', 'r') as file:
#     DictReader method to read the "books.csv" file and stored its contents in a variable called "books."
    reader = csv.DictReader(file)
    for row in reader:
        books.append(row)

# Print the values in books
for book in books:
    print(book)

# DictReader handles quotes and commas in the second book's title correctly

{'author': 'J R R Tolkien', 'book': 'The Hobbit'}
{'author': 'Lynne Truss', 'book': 'Eats, Shoots & Leaves'}

In [3]:
# Content for books2.csv
content = """title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992
"""

# Write the content to a file named books2.csv
with open('books2.csv', 'w') as file:
    file.write(content)

print("books2.csv created successfully.")

books2.csv created successfully.

In [4]:
import sqlite3

# Connect to the SQLite database (create it if it doesn't exist)
conn = sqlite3.connect('books.db')

# Create a cursor object to interact with the database
cursor = conn.cursor()

# Define the SQL query to create the "books" table
create_table_query = '''
CREATE TABLE IF NOT EXISTS books (
    title TEXT,
    author TEXT,
    year INTEGER
);
'''

# Execute the SQL query to create the table
cursor.execute(create_table_query)

# Commit the changes and close the database connection
conn.commit()
conn.close()

print("Database 'books.db' and table 'books' created successfully.")

Database 'books.db' and table 'books' created successfully.

In [5]:
import csv
import sqlite3

# Connect to the SQLite database
conn = sqlite3.connect('books.db')
cursor = conn.cursor()

# Read data from the CSV file
with open('books2.csv', mode='r') as file:
    csv_reader = csv.reader(file)
    next(csv_reader)  # Skip the header row
    for row in csv_reader:
        title, author, year = row
        # Insert each row into the "books" table
        cursor.execute("INSERT INTO books (title, author, year) VALUES (?, ?, ?)", (title, author, int(year)))

# Commit the changes and close the database connection
conn.commit()
conn.close()

print("Data from 'books2.csv' inserted into the 'books' table successfully.")

Data from 'books2.csv' inserted into the 'books' table successfully.

In [6]:
import sqlite3

# Connect to the SQLite database
conn = sqlite3.connect('books.db')
cursor = conn.cursor()

# Select and print the title column from the "books" table in alphabetical order
cursor.execute("SELECT title FROM books ORDER BY title")
titles = cursor.fetchall()

for title in titles:
    print(title[0])

# Close the database connection
conn.close()

Perdido Street Station
Perdido Street Station
Perdido Street Station
Perdido Street Station
Perdido Street Station
Perdido Street Station
Small Gods
Small Gods
Small Gods
Small Gods
Small Gods
Small Gods
The Spellman Files
The Spellman Files
The Spellman Files
The Spellman Files
The Spellman Files
The Spellman Files
The Weirdstone of Brisingamen
The Weirdstone of Brisingamen
The Weirdstone of Brisingamen
The Weirdstone of Brisingamen
The Weirdstone of Brisingamen
The Weirdstone of Brisingamen
Thud!
Thud!
Thud!
Thud!
Thud!
Thud!

In [7]:
import sqlite3

# Connect to the SQLite database
conn = sqlite3.connect('books.db')
cursor = conn.cursor()

# Select and print all columns from the "books" table in order of publication
cursor.execute("SELECT * FROM books ORDER BY year")
books = cursor.fetchall()

for book in books:
    print(book)

# Close the database connection
conn.close()

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Small Gods', 'Terry Pratchett', 1992)
('Small Gods', 'Terry Pratchett', 1992)
('Small Gods', 'Terry Pratchett', 1992)
('Small Gods', 'Terry Pratchett', 1992)
('Small Gods', 'Terry Pratchett', 1992)
('Small Gods', 'Terry Pratchett', 1992)
('Perdido Street Station', 'China Miéville', 2000)
('Perdido Street Station', 'China Miéville', 2000)
('Perdido Street Station', 'China Miéville', 2000)
('Perdido Street Station', 'China Miéville', 2000)
('Perdido Street Station', 'China Miéville', 2000)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('Thud!', 'Terry Pratchett', 2005)
('Thud!', 'Terry Pratchett', 2005)
('Thud!', 'Terry Pratchett', 2005)
('Thud!', 'Terry Pratchett', 2005)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)
('The Spellman Files', 'Lisa Lutz', 2007)
('The Spellman Files', 'Lisa Lutz', 2007)
('The Spellman Files', 'Lisa Lutz', 2007)
('The Spellman Files', 'Lisa Lutz', 2007)
('The Spellman Files', 'Lisa Lutz', 2007)

In [10]:
"""Used the sqlalchemy module to connect to the "books.db" SQLite database 
created in above exercise
Then, selected and printed the "title" column from the "book" table 
in alphabetical order using SQLAlchemy's ORM features."""

from sqlalchemy import create_engine, select, Table, MetaData
from sqlalchemy.orm import sessionmaker  # Import sessionmaker

# Create a SQLite database engine
engine = create_engine('sqlite:///books.db')

# Reflect the database tables using MetaData
metadata = MetaData()
metadata.reflect(bind=engine)

# Access the 'books' table
Book = metadata.tables['books']

# Create a session
Session = sessionmaker(bind=engine)
session = Session()

# Query and print the 'title' column in alphabetical order
query = select([Book.c.title]).order_by(Book.c.title)
result = session.execute(query).fetchall()

for row in result:
    print(row.title)

# Close the session
session.close()

Perdido Street Station
Perdido Street Station
Perdido Street Station
Perdido Street Station
Perdido Street Station
Perdido Street Station
Small Gods
Small Gods
Small Gods
Small Gods
Small Gods
Small Gods
The Spellman Files
The Spellman Files
The Spellman Files
The Spellman Files
The Spellman Files
The Spellman Files
The Weirdstone of Brisingamen
The Weirdstone of Brisingamen
The Weirdstone of Brisingamen
The Weirdstone of Brisingamen
The Weirdstone of Brisingamen
The Weirdstone of Brisingamen
Thud!
Thud!
Thud!
Thud!
Thud!
Thud!